* {
    border: 1px solid red;
}

body {
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: hsl(0, 0%, 100%);
    max-width: 90%;
    margin: auto;
}

img {
    max-width: 100%;
}