* {
    border: 1px solid red;
}

body {
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: hsl(212, 45%, 89%);
}

.container {
    background-color: hsl(0, 0%, 100%);
}

img {
    max-width: 100%;
}